[submodule "Prototype/imgui"]
	path = Prototype/imgui
	url = https://github.com/ocornut/imgui
  branch = docking
[submodule "Prototype/stb"]
	path = Prototype/stb
	url = https://github.com/nothings/stb
[submodule "Prototype/imnodes"]
	path = Prototype/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "Prototype/imguidialog"]
	path = Prototype/imguidialog
	url = https://github.com/aiekick/ImGuiFileDialog
